.label {
  margin-bottom: 5px;
}

#cities {
  border: 1px solid #001813;
  border-radius: 5px;
  height: 30px;
  width: 80%;
}

#button-send {
  background-color: #b1c2be;
  border: 2px solid #036b52;
  color: #036b52;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  height: 35px;
  margin: 10px 0;
  width: 15%;
}